$primary-color: #fff;
$secondary-color: #8cb9b4;
$tertiary-color: rgba(255, 255, 255, 0.35);
$background-secondary-color: #070608;
$card-background-color: #110f15;


$light-primary-color: #444444;
$light-secondary-color: #00b7ff;
$light-tertiary-color: rgb(68, 68, 68);
$light-background-secondary-color: #f9f9f9;
$light-card-background-color: #f0f2f3;


