$primary-color: #fff;
$secondary-color: #8cb9b4;
$tertiary-color: rgba(255, 255, 255, 0.35);



$light-primary-color: #444444;
$light-secondary-color: #00b7ff;
$light-tertiary-color: rgb(68, 68, 68);


